{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="title mb-4">Thank you for your participation!</h2>
            <p>Your answers enable us to get to know you better, to know your expectations and any comments you may
                have, so that we can offer you a quality service tailored to your needs and desires.</p>
            <hr>
            <a href="{% url 'home' %}" type="button" class="btn btn-success mb-4 text-center">Home Page</a>
        </div>
    </div>
</div>
{% endblock %}