{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container">
    {% if wishlist.products.all %}
        {% for product in wishlist.products.all %}
            <h2>{{ product.name }}</h2>
            <p>{{ product.price }}</p>
        {% endfor %}
    {% else %}
        <p>Your wishlist is empty</p>
    {% endif %}
</div>
{% endblock %}