@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    max-width: 100%;
}

h1 {
    font-family: 'Fjalla One', Arial, sans-serif;
    font-size: 2.6rem;
}

h2 {
    font-family: 'Fjalla One', Arial, sans-serif;
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

.title {
    font-family: 'Fjalla One', Arial, sans-serif;
}

strong {
    font-weight: bolder;
}

p {
    color: #000;
}

/* Footer */
footer {
    background-color: #B6C47F;
}

.title-footer {
    font-family: 'Fjalla One', Arial, sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
}

footer a {
    color: #FFF;
    text-decoration: none;
    font-size: 1rem;
}

footer a:hover {
    color: #FFF;
    text-decoration: underline;
}

/* Home page */
.hp-punchline {
    border: #B6C47F;
}

.hp-punchline h2 {
    color: #65009C;
}

.home-picture {
    overflow: hidden;
}

article a,
article a:active {
    color: #333333;
    text-decoration: underline;
    text-transform: none;
    font-size: 1.1rem;
}

article a:hover {
    color: #65009C;
}

/* Buttons */
.btn-success {
    background-color: #B6C47F;
    color: #000;
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
}

.btn-success:hover {
    background-color: #B6C47F;
    color: #FFF;
    font-weight: 500;
}

/* from Bulma 
center and keep font awesome style consistent */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.shop-now-button {
    background: #000;
    color: #B6C47F;
    min-width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.btn-green {
    background: #B6C47F
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn.outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #333333;
    color: #FFF;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Products list and details */
.product_img {
    border-radius: 5%;
}

.product_name {
    font-size: 1.4rem;
    font-weight: bolder;
    color: #000;
}

/* User messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.edit-bag {
    color: #65009C;
    text-decoration: none;
}

.edit-bag:hover {
    color: #000;
    text-decoration: none;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label:before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
