.navbar {
    /*background-color: #65009C;*/
    background-color: #B6C47F;
}

header li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: 'Fjalla One', Arial, sans-serif;
    font-size: 1.3rem;
}

header a:hover,
header a:active {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}

.account {
    color: #FFF;
}

.dropdown-item {
    padding: 0;
    color: #000;
}

.dropdown-item:active, .dropdown-item:hover {
    background-color: #e6e6e6;
    color: #000;
}

.fixed-menu {
    margin-right: 2rem;
}

#bars {
    color: #000;
}

#bars:hover {
    color: #FFF;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}