<!-- Footer from MDBootstrap.com -->
<footer class="text-center text-lg-start w-100 p-2">
  <div class="container text-center text-md-start mt-3 text-white">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3">
        <!-- Content -->
        <h6 class="text-uppercase fw-bold mb-4 title-footer">
          <i class="fa-solid fa-leaf"></i> Les Jardins de Valentin
        </h6>
        <p>
          This is an educational site created as part of <a href="https://codeinstitute.net/" target="_blank"
            class="text-capitalize text-underline" rel="noopener" aria-label="Visit the Code Institude website">Code
            Institute</a>'s Full Stack Software Development course.<br>
        </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Catalogue -->
        <ul>
          <li>
            <h6 class="fw-bold title-footer">Products</h6>
          </li>
          <ul>
            <li>
              <a href="{% url 'products' %}?category=vegetables,herbs">Vegetables</a>
            </li>
            <li>
              <a href="{% url 'products' %}?category=fruits">Fruits</a>
            </li>
            <li>
              <a href="{% url 'products' %}?category=grocery,dry_vegetables,plants_seeds,">Other Products</a>
            </li>
            <li>
              <a href="{% url 'products' %}">All Products</a>
            </li>
          </ul>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <ul>
          <li>
            <h6 class="fw-bold title-footer">Useful links</h6>
          </li>
          <li>
            <a href="{% url 'account_signup' %}">Register</a>
          </li>
          <li>
            <a href="{% url 'account_login' %}">Log in</a>
          </li>
          <li>
            <a href="{% url 'contact' %}">Contact</a>
          </li>
          <li>
            <a href="https://www.privacypolicygenerator.info/live.php?token=5wXhzvlMcnTpFj7LohuincImAdadxGA3"
              target="_blank" rel="noopener" aria-label="See our Privacy Policy">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Contact -->
        <ul>
          <li>
            <h6 class="fw-bold title-footer">About Us</h6>
          </li>
          <li>
            <i class="fas fa-home me-3"></i> Un Endroit, France
          </li>
          <li>
            <i class="fas fa-phone me-3"></i> +33 06 06 06 06 06
          </li>
          <li>
            <i class="fab fa-facebook-f"></i>
            <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Reach out in Facebook"
              class="me-4"> Join us on Facebook</a>
            </a>
          </li>
          <li>
            <i class="fab fa-instagram"></i>
            <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Reach out in Instagram"
              class="me-4"> Follow us on Instagram</a>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center text-white mb-0">
    © Les Jardins de Valentin - {% now 'Y' %}<br>
    Created by CÉcile <a href="https://github.com/cecilegaudron/" target="_blank" rel="noopener"
      aria-label="Visit my GitHub account>"><i class="fa-brands fa-github"></i></a></p>
  </div>
</footer>