<!-- Footer from MDBootstrap.com -->
<footer class="text-center text-lg-start w-100 p-3">
    <section>
      <div class="container text-center text-md-start mt-3 text-white">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 title-footer">
              <i class="fa-solid fa-leaf"></i> Les Jardins de Valentin
            </h6>
            <p>
                This is an educational site created as part of <em><a href="https://codeinstitute.net/" target="_blank" rel="noopener" aria-label="Visit the Code Institude website">Code Institute</a></em>'s Full Stack Software Development course.<br>
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Catalogue -->
            <h6 class="text-uppercase fw-bold mb-4 title-footer">
              Products
            </h6>
            <p>
              <a href="{% url 'products' %}?category=vegetables,herbs">Vegetables</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=fruits">Fruits</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=grocery,dry_vegetables,plants_seeds,">Other Products</a>
            </p>
            <p>
              <a href="#!">Baskets</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 title-footer">
              Useful links
            </h6>
            <p>
              <a href="{% url 'account_signup' %}">Register</a>
            </p>
            <p>
              <a href="{% url 'account_login' %}">Log in</a>
            </p>
            <p>
              <a href="{% url 'contact' %}">Contact</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Contact -->
            <h6 class="text-uppercase fw-bold mb-4 title-footer">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Un Endroit, France</p>
            <p><i class="fas fa-phone me-3"></i> +33 06 45 78 45 12</p>
            <p>
                <i class="fab fa-facebook-f"></i>
                <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Reach out in Facebook" class="me-4"> Join us on Facebook</a>
              </a></p>
            <p>
                <i class="fab fa-instagram"></i>
                <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Reach out in Instagram" class="me-4"> Follow us on Instagram</a>
              </a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- Copyright -->
    <div class="text-center p-2 text-white" style="background-color: rgba(0, 0, 0, 0.025);">
        © Les Jardins de Valentin - {% now 'Y' %}<br>
        Created by CÉcile <a href="https://github.com/cecilegaudron/" target="_blank" rel="noopener" aria-label="Visit my GitHub account>"><i class="fa-brands fa-github"></i></a></p><br>
        <a href="https://www.privacypolicygenerator.info/live.php?token=5wXhzvlMcnTpFj7LohuincImAdadxGA3" target="_blank" rel="noopener" aria-label="See our Privacy Policy">Privacy Policy</a>
    </div>
  </footer>