{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<header>
    <div class="navbar w-100">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img class="img-fluid logo" alt="Les Jardins logo"
                    src="https://res.cloudinary.com/dcymco5tc/image/upload/v1684431240/media/logo-lesjardins_1_xb8rxp.webp">
            </a>
        </div>
        <!-- Account and shopping bag -->
        <div class="shopping">
            <a class="nav-link d-block d-lg-none dropdown shopping_txt txt-right" href="#" id="user-options"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-lg shopping_icon"></i>My Account
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
            <!-- Shopping Bag -->
            <a class="{% if grand_total %}{% else %}text-black{% endif %} nav-link d-block d-lg-none shopping_txt"
                href="{% url 'view_bag' %}">
                <i class="fa-solid fa-basket-shopping shopping_icon"></i>
                {% if grand_total %}
                {{ grand_total|floatformat:2 }} €
                {% else %}
                0.00 €
                {% endif %}
            </a>
        </div>
        <!-- Products menu -->
        <div class="txt-center">
            <ul class="links">
                <li>
                    <a href="{% url 'products' %}?category=vegetables,herbs" class="products_menu">Vegetables
                        <i class="fa-solid fa-carrot menu_icon"></i></a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=fruits" class="products_menu">Fruits
                        <i class="fa-solid fa-carrot menu_icon"></i></a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=vegetables,herbs" class="products_menu">Other Products
                        <i class="fa-solid fa-jar menu_icon"></i></a>
                </li>
            </ul>
        </div>
        <!-- Hamburger menu icon -->
        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <!-- Responsive menu -->
    <div class="dropdown_menu">
        <li>
            <a href="{% url 'products' %}?category=vegetables,herbs" class="products_menu">Vegetables
                <i class="fa-solid fa-carrot menu_icon"></i></a>
        </li>
        <li>
            <a href="{% url 'products' %}?category=fruits" class="products_menu">Fruits
                <i class="fa-solid fa-carrot menu_icon"></i></a>
        </li>
        <li>
            <a href="{% url 'products' %}?category=vegetables,herbs" class="products_menu">Other Products
                <i class="fa-solid fa-jar menu_icon"></i></a>
        </li>
        <li>
            <a class="{% if grand_total %}{% else %}text-black{% endif %} nav-link d-block d-lg-none shopping_txt"
                href="{% url 'view_bag' %}">
                <i class="fa-solid fa-basket-shopping shopping_icon"></i>
                {% if grand_total %}
                {{ grand_total|floatformat:2 }} €
                {% else %}
                0.00 €
                {% endif %}
            </a>
        </li>
        <li>
            <a class="nav-link d-block d-lg-none dropdown shopping_txt" href="#" id="user-options"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-lg shopping_icon"></i>My Account
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
    </div>
</header>

{% block postloadjs %}
<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen ?
            'fa-solid fa-xmark' :
            'fa-solid fa-bars'
    }
</script>
{% endblock %}