{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<header>
  <!-- Logo -->
  <div class="w-100">
    <a href="{% url 'home' %}">
      <img class="img-fluid logo p-2 col-4" alt="Les Jardins logo"
        src="https://res.cloudinary.com/dcymco5tc/image/upload/v1685196376/media/logo-lesjardins_uig9io.webp">
    </a>
  </div>
  <div>
    <nav class="navbar navbar-dark sticky-top">
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- Fixed navbar -->
      <a href="#">PRODUCTS</a>
      <a href="#">ACCOUNT</a>
      <a href="#">SHOPPING BAG</a>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">VEGETABLES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FRUITS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">OTHER PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ALL PRODUCTS</a>
          </li>
          <hr>
          <li>
            ACCOUNT
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LOG IN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">REGISTER</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>
</header>

{% block postloadjs %}

{% endblock %}