<!-- Document for products navigation bar -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Menu with all offers -->
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black products-menu" href="{% url 'products' %}?category=vegetables" id="offer-link" >
                Vegetables <i class="fa-solid fa-carrot"></i> 
            </a>
        </li>
        <li class="nav-item"></li>
            <a class="font-weight-bold nav-link text-black products-menu" href="{% url 'products' %}?category=fruits" id="offer-link">
                Fruits <i class="fa-solid fa-apple-whole"></i> 
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black products-menu" href="#" id="offer-link">
                Other products <i class="fa-solid fa-jar"></i> 
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5 products-menu" href="#" id="baskets-link">
                Baskets <i class="fa-solid fa-basket-shopping"></i> 
            </a>
        </li>
    </ul>
</div>