<!-- Document for products navigation bar -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Menu with all offers -->
        <li class="nav-item">
            <a class="font-weight-bold nav-link products-menu" href="{% url 'products' %}?category=vegetables,herbs" id="offer-link" >
                Vegetables <i class="fa-solid fa-carrot icon-menu"></i> 
            </a>
        </li>
        <li class="nav-item"></li>
            <a class="font-weight-bold nav-link products-menu" href="{% url 'products' %}?category=fruits" id="offer-link">
                Fruits <i class="fa-solid fa-apple-whole icon-menu"></i> 
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link products-menu" href="{% url 'products' %}?category=grocery,dry_vegetables,plants_seeds," id="offer-link">
                Other products <i class="fa-solid fa-jar icon-menu"></i> 
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link products-menu" href="#" id="baskets-link">
                Baskets <i class="fa-solid fa-basket-shopping icon-menu"></i> 
            </a>
        </li>
    </ul>
</div>