{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<section class="col-10 col-md-8 mx-auto">
  <div class="container w-100 mt-4 mb-4">
    <hr>
    <h2 class="title mb-4">{% trans "Sign Out" %}</h2>
    <hr>
    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}" class="pb-3">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="btn btn-light title" href="{% url 'home' %}">Cancel</a>
      <button type="submit" class="btn btn-green">{% trans 'Sign Out' %}</button>
    </form>
  </div>
</section>
{% endblock %}