{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="overlay"></div>

<div class="container-fluid">
    <!-- Breadcrumb / Fil Arianne -->
    <div>
        {% if current_categories %}
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="breadcrumb bg-white">
                <a href="{% url 'products' %}" class="breadcrumb-item ariane-link">Products</a>
                {% for c in current_categories %} 
                    <a href="#" class="breadcrumb-item active ariane" aria-current="page">{{ c.friendly_name }}</a>
                {% endfor %}
            </nav>
        {% endif %}
        </nav>
    </div>
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">
                {% if current_categories %}
                    {% for c in current_categories %} 
                        {{ c.friendly_name }} 
                    {% endfor %}
                {% else %}
                    All Products
                {% endif %}
            </h2>
            <hr class="w-80 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <!-- Order list by price, category, etc.-->
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <!-- Display quantity of products on the category
                        Display the name of the current category
                        Display the entry name and the results for a research -->
                    <p class="text-muted mt-3 text-center text-md-left">
                        {{ products|length }} Products
                        {% if search_term %} found
                        for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <!-- For loop for products list -->
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <!-- Card layout -->
                        {% if product.image %}
                        <!-- Top of card layout with product image
                                    With the URL for each detail product -->
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid product_img" src="{{ product.image.url }}"
                                alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <!-- Body of Card layout with product name -->
                        <div class="card-body pb-0">
                            <p class="mb-0 product_name">{{ product.name }}</p>
                        </div>
                        <!-- Footer of Card layout with price -->
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold text-black">{{ product.price }} €</p>
                                    <small class="text-muted">{{ product.weight }} grams | {{ product.price_kilo }}
                                        €/kg</small>
                                    {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                    </small>
                                    {% endif %}
                                    <div>
                                        <div>
                                            <!-- Plus sign to add to bag -->
                                            <span class="text-left w-20">
                                                <a href="{% url 'product_detail' product.id %}" type="button"
                                                    class="increment-qty btn btn-green rounded-0 m-2">
                                                    <i class="fas fa-plus"></i> Add to bag
                                                </a>
                                            </span>
                                            <!-- Heart to add to wishlist -->
                                            <span class="text-right w-20">
                                                <a href="{% url 'add_to_wishlist' product.pk %}" type="button"
                                                    class="increment-qty btn btn-green rounded-0 m-2">
                                                    <i class="fa-solid fa-heart"></i> Add to wishlist
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- If For loop is divisible by 1, render this column, only visible on extra small screens -->
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                <!-- If For loop is divisible by 2, render this column, only visible on small and medium screens -->
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                <!-- If For loop is divisible by 3, render this column, hidde everything except large screens -->
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                <!-- If For loop is divisible by 4, render this column, hidde everything except extra large screens -->
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Button to get back to the top of the page -->
<div class="btt-button">
    <a class="btt-link d-flex h-100">
        <i class="fa-solid fa-circle-arrow-up" style="color: #b6c47f;"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Script for link to get back to the top of the page -->
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<!-- Script with JQuery for selection box -->
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}